MONGO_HOST = localhost
MONGO_PORT = 27017
MONGO_DB_NAME = datalake
MONGO_COLLECTION_NAME = metadata
S3_BUCKET = {{ s3_bucket }}
S3_ENDPOINT_URL = {{ s3_endpoint_url }}
PFS_PATH_PREFIX = {{ pfs_path_prefix }}
JWT_ISSUER = {{ jwt_issuer }}
JWT_SECRET = {{ jwt_secret }}
JWT_LIFETIME_SECONDS = {{ jwt_lifetime_seconds }}
JWT_ALGORITHM = {{ jwt_algorithm }}