{
  "user": "{{ config_server_user }}",
  "host": "{{ hpc_login_node}}",
  "venv_path": "{{ config_server_venv_path }}",
  "ssh_key": "{{ config_server_ssh_key }}",
  "compute_partition": "{{ config_server_compute_partition }}",
  "upload_partition": "{{ config_server_upload_partition }}",
  "account": "{{ config_server_account }}",
  "qos": "{{ config_server_qos }}",
  "mail": "{{ config_server_mail }}",
  "walltime": "01:00:00",
  "nodes": 1,
  "ntasks_per_node": 48
}